~orbits = [0,1,2,3]*2+20;
~samplePaths = [
	"/Users/diego/Music/code/piraran-samples/maracas/",
	"/Users/diego/Music/code/piraran-samples/maracasf/",
	"/Users/diego/Music/code/piraran-samples/maracasp/",
	"/Users/diego/Music/code/piraran-samples/maracasExp/",
	"/Users/diego/Music/code/piraran-samples/maracasd/",
	"/Users/diego/Music/code/piraran-samples/maracasAcc/",
	"/Users/diego/Music/code/piraran-samples/maraDrums/",
	"/Users/diego/Music/code/piraran-samples/ruletero/"
];