~orbits = [0,1,2,3]*2+20;
~samplePaths = [
	"/maracas/",
	"/maracasf/",
	"/maracasp/",
	"/maracasExp/",
	"/maracasd/",
	"/maracasAcc/",
	"/maraDrums/",
	"/ruletero/"
].collect("/Users/path/a/piraran-samples"++_);